html {
  background-color: DarkGrey
}
body{
  text-align: center;
  width: 100;
  overflow:auto; 
}
h1 {
  text-align: center;
  color:DarkOrange;
  font-size:4vw;
  text-shadow: 0.5px 0.5px 0.5px black;
}
ul {
  list-style-type: none;
  margin-left: 50;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 30;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: DarkOrange;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: DarkOrange
}
.dropdown:hover .dropdown-content {
  display: block;
}
table, td, th {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: left;
}
